.increment {
    composes: box from "../common/layout.css";
    color: white;
    cursor: pointer;
    border: 1px solid rgb(128, 26, 0);
    border-radius: 10px;
    background-color: rgb(128, 0, 0);
}

html {
    color: blue !important
}